<!DOCTYPE html>
<html>

<head>
    <title>QR Code da Sessão</title>
</head>

<body>
    <h1>Escaneie o QR Code no WhatsApp</h1>
    <% if (qrCodeImg) { %>
        <img src="<%= qrCodeImg %>" alt="QR Code">
        <% } else { %>
            <p>QR Code não gerado.</p>
            <% } %>
</body>

</html>