<!DOCTYPE html>
<html>

<head>
    <title>Status da Sessão</title>
</head>

<body>
    <h1>Status da Sessão</h1>
    <p>Status atual: <%= status %>
    </p>
    <a href="/">Voltar</a>
</body>

</html>